<a href="/dashboard" class="btn btn-secondary">Back</a>

<p class="lead mb-3" style="margin-top: 2rem; text-align: center;">Welcome <%= user.name %></p>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">Add Address</h1>
            
            <form action="/users/addAddress" method="POST">
                <div class="form-group">
                    <label for="address">Email</label>
                    <input type="text" id="email" name="email" class="form-control" value=<%= user.email %> />
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" class="form-control" placeholder="Enter Address" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Add Address</button>
            </form>
        </div>
    </div>
</div>